In [ ]:
#Rules for declaring a variable, no spaces

In [1]:
#no spaces
a b = 10

SyntaxError: invalid syntax (<ipython-input-1-039b1666f5cf>, line 1)

In [ ]:
# cannot start with numbers

In [2]:
2a = 10

SyntaxError: invalid syntax (<ipython-input-2-f5abf2455226>, line 1)

In [3]:
#no special characters
$k = 10

SyntaxError: invalid syntax (<ipython-input-3-c3d978bcb656>, line 2)

In [ ]:
#data types are mutable and  immutable datatypes

In [ ]:
#Data types: integer, string, list, tuble,dictionary

In [4]:
#declaring string - single quotes
test = 'abc'
print(test)

abc

In [5]:
#declaring string - double quotes
test = "abc"
print(test)

abc

In [6]:
#declaring string - triple quotes
test = """abc"""
print(test)

abc

In [ ]:
#Doubts: what is the difference between single/double and triple quotes and when can be used?
# how to declare a single character? as, it is giving error in Line 11.

In [8]:
a=3.6 # float variable
type(a)

float

In [7]:
a = True # bool variable
type(a)

bool

In [11]:
a = c
type(a)

NameError: name 'c' is not defined

In [15]:
#string
s1 = "india"
s1

'india'

In [48]:
#print in upper case
s1.upper()

'INDIA'

In [49]:
print(s1.title()) # print using the first letter as caps
s1 # note that string itself won't chang with title() function

India

'india'

In [59]:
#use indexing on strings - not mutable
s1[3] = 't'

TypeError: 'str' object does not support item assignment

In [55]:
#introduction to fstrings to print full name
firstname = "kalyan" 
lastname = "verma"
fullname = f"{firstname} {lastname}"
fullname

'kalyan verma'

In [58]:
#printing title for the fullname
fullname.title()

'Kalyan Verma'

In [63]:
#list of names
ListA = ["name1", "name2", "name3", "name4", "name5", "name6"]
ListA

['name1', 'name2', 'name3', 'name4', 'name5', 'name6']

In [62]:
print(type(ListA))

<class 'list'>

In [64]:
#access the list using indexing
print(ListA[3])

name4

In [65]:
#Title for list elements
print(ListA[3].title())

Name4

In [8]:
#add a name to list
ListA.append("name7")
ListA

['name1', 'name2', 'newName3', 'name4', 'name5', 'name6', 'name7']

In [66]:
#insert at position 2
ListA.insert(2, "newName4")
ListA

['name1', 'name2', 'newName4', 'name3', 'name4', 'name5', 'name6']

In [9]:
#change name in 3rd index (index = 2)
ListA[2] = "newName3"
ListA

['name1', 'name2', 'newName3', 'name4', 'name5', 'name6', 'name7']

In [67]:
#delete a =n item from the list
del ListA[2]
ListA

['name1', 'name2', 'name3', 'name4', 'name5', 'name6']

In [72]:
#sorting a given the list without changing changing the original list
sortList = ["Mumbai","Delhi", "Noida", "Pune"]
sorted(sortList)

['Delhi', 'Mumbai', 'Noida', 'Pune']

In [70]:
#original list not changed
print(sortList)

['Mumbai', 'Delhi', 'Noida', 'Pune']

In [75]:
#Now use the sort() to change the original list
sortList.sort()
print(sortList)

['Delhi', 'Mumbai', 'Noida', 'Pune']

In [76]:
#now print in reverse order
sortList.reverse()
print(sortList)

['Pune', 'Noida', 'Mumbai', 'Delhi']

In [77]:
#print length of the list
len(sortList)

4

In [81]:
#slicing of the list 
sortList[0:2]

['Pune', 'Noida']

In [80]:
sortList[2:4]

['Mumbai', 'Delhi']

In [84]:
#print last element as well
sortList[2:5]

['Mumbai', 'Delhi']

In [85]:
#slicing by using skip counting, print alternate items
sortList[0:5:2]

['Pune', 'Mumbai']

In [ ]:
#testing of single and double quotes for strings.

In [37]:
s = "fdeer'\\'nbc"
s

"fdeer'\\'nbc"

In [39]:
s = 'fdeer'\\'nbc'
s

SyntaxError: unexpected character after line continuation character (<ipython-input-39-8ad57e267808>, line 1)

In [40]:
s = "don't do that"
s

"don't do that"

In [45]:
s = "donot \"test\" me"
s

'donot "test" me'

In [43]:
s = 'don\'t do that'
s

"don't do that"